<header>
  <div class="title-container">
    <img class="logo" src="assets/svg/logo_airplane.svg" alt="Flight Monitor">
    <h3 class="title">Flight Monitor</h3>
  </div>
  <nav>
    <ul class="nav-list">
      <li>
        <a routerLink="/analyse" routerLinkActive="p-active">Analyse</a>
      </li>
      <li>
        <a routerLink="/schedule" routerLinkActive="p-active">schedule</a>
      </li>
      <li>
        <a routerLink="/find-flight" routerLinkActive="p-active">Find Flight</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="p-active">About</a>
      </li>
    </ul>
  </nav>
  <p-button label="Login" styleClass="p-button-warning"/>
</header>
