<!-- <form>
  <mat-form-field appearance="fill" class="select-number">
    <mat-select [value]="ReportFrequency.ThirtyMinutes" formControlName="reportFrequency">
      @for (reportFrequency of reportFrequencies; track reportFrequency) {
        <mat-option [value]="reportFrequency">
          {{reportFrequency}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</form> -->


<p-button label="Submit" />
<button
    pButton
    pRipple
    label="Submit"
    class="p-button-success">
</button>


